<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : config.xml
    Created on : June 11, 2012, 7:38 PM
    Author     : rwincewicz
    Description:
        Configuration file for php-based listeners.
-->

<config>
    
    <listeners>
        <!-- Choose the number of child processes you want to spawn. 
             A rough estimate is you'll get a load average which is 
             1.5 times the number of child processes (eg. load average 
             of 12 for 8 child processes -->
        <child_processes>2</child_processes>    
    </listeners>
    
    <fedora>
        <!-- These are the details for your Fedora server. You should
             make sure that the firewall rules allow the listeners to
             contact the Fedora server and set up any XACML policies 
             to allow write access from the listener IP address -->
        <host>192.168.200.140</host>
        <port>8080</port>
        <username>fedoraAdmin</username>
        <password>fedoraAdmin</password>
    </fedora>
    
    <stomp>
        <!-- These are the details for the JMS broker. Usually the host
             will be the same as the Fedora server. If the Stomp port on
             the JMS broker has been set up as in the installation 
             instructions then you'll connect on port 61613 and use the
             /queue/listener.update channel -->
        <host>192.168.200.140</host>
        <port>61613</port>
        <channel>/queue/listener.update</channel>
    </stomp>
    
    <derivatives>
        <!-- In this section you can specify as many object elements as you
             want. Each of these defines a set of rules that are used to filter
             each message from the JMS broker and decide what actions, if any, 
             should be triggered. If you don't specify a value for a particular
             filter then all of the messages will pass through that filter. -->
        <object>
            <!-- Filter by namespace -->
            <nameSpace>islandora</nameSpace>
            <!-- Filter by the content model of the object -->
            <contentModel>fedora-system:FedoraObject-3.0</contentModel>
            <!-- Filter on method (http://www.fedora-commons.org/documentation/3.0/userdocs/server/webservices/apim/index.html) -->
            <method>addDatastream</method>
            <!-- Filter on the mimetype of the added/updated datastream -->
            <extension>tif</extension>            
            <!-- Filter on the datastream that has been added/updated -->
            <trigger_datastream>TIFF</trigger_datastream>
            <!-- Define which datastream to grab to create the derivatives. If 
                 you want to create derivatives from more than one datastream 
                 then create a second rule. -->
            <datastream>TIFF</datastream>
            <!-- This is a list of operations to perform on the datastream. 
                 Currently these consist of a datastream ID (dsid), the label
                 of the newly created datastream and the function that is used.
                 The functions are defined in the Derivatives.php file. You can
                 specify as many derivatives as you want. -->
            <derivative>
                <dsid>TN</dsid>
                <label>Thumbnail</label>
                <function>TN</function>
            </derivative>
            <derivative>
                <dsid>JPG</dsid>
                <label>JPEG image</label>
                <function>JPG</function>
            </derivative>
            <derivative>
                <dsid>JP2</dsid>
                <label>Compressed jp2</label>
                <function>JP2</function>
            </derivative>  
            <derivative>
                <dsid>OCR</dsid>
                <label>Scanned text</label>
                <function>OCR</function>
            </derivative>
            <derivative>
                <dsid>HOCR</dsid>
                <label>HOCR</label>
                <function>HOCR</function>
            </derivative>  
            <derivative>
                <dsid>ENCODED_OCR</dsid>
                <label>Encoded OCR</label>
                <function>ENCODED_OCR</function>
            </derivative>     
            <derivative>
                <dsid>TECHMD</dsid>
                <label>Technical metadata</label>
                <function>TECHMD</function>
            </derivative> 
        </object>
        
    </derivatives>
    
    <log>
        <!-- Specify the file name of the log file. -->
        <file>listener.log</file>
    </log>

</config>
