<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : config.xml
    Created on : June 11, 2012, 7:38 PM
    Author     : rwincewicz
    Description:
        Configuration file for php-based listeners.
-->

<config>
    <listeners>
        <child_processes>2</child_processes>    
    </listeners>
    <fedora>
        <host>192.168.200.140</host>
        <port>8080</port>
        <username>fedoraAdmin</username>
        <password>fedoraAdmin</password>
    </fedora>
    <stomp>
        <host>192.168.200.140</host>
        <port>61613</port>
        <channel>/queue/listener.update</channel>
    </stomp>
    <derivatives>
        <derivative>
            <dsid>TN</dsid>
            <function>TN</function>
        </derivative>
        <derivative>
            <dsid>JPG</dsid>
            <function>JPG</function>
        </derivative>
        <derivative>
            <dsid>OCR</dsid>
            <function>OCR</function>
        </derivative>
    </derivatives>
    <log>
        <file>listener.log</file>
    <!-- Log level 1 = debug, 2 = info, 3 = error, 4 = critical -->
        <level>1</level>
    </log>
</config>
